{% extends 'base.html' %}

    {% block title %}Teams{% endblock title %}
{% block content %}

<style>
    .team-container{
        display: grid;
        grid-template-columns: 0.5fr 3fr 1fr;
    }
    
</style>

<div class='team-container'>

    <div>

    </div>

    <div>
        <div>
            <h2>{{team.name}}</h2>
            <small><a href="{% url 'update-team' team.id %}">Edit</a></small>
            <small><a href="{% url 'delete-team' team.id %}">Delete</a></small>
        </div>
        <div>
            {% for project in projects  %}
                <p>{{project.name}}</p>
            {% endfor %}
        </div>
    </div>
    
    <div>
        <div>
            <h5>Head</h5>
            {{team.head}}
        </div>
        <div>
            <h5>Co-workers</h5>
            {% for member in members  %}
                {% if member != team.head %}
                    <p>{{member.user.username}}</p>
                {% endif %} 
            {% endfor %}
        </div>

        <div>
            <h5>Activities</h5>
            {% include 'manager/activities.html' %}
        </div>
    </div>

</div>

{% endblock %}