{% extends 'base.html' %}

    {% block title %}{{company.name}}{% endblock title %}
{% block content %}

<style>
    .page-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    
</style>

<div class='page-container'>

    <div>

    </div>
    <div>
        <div>
            <h1>{{project.name}}</h1>
            <small><a href="{% url 'update-project' project.id %}">Edit</a></small>
            <small><a href="{% url 'delete-project' project.id %}">Delete</a></small>
        </div>
        <div>
            <p>Description: {{project.description}}</p>
            <p>Status: {{project.status}}</p>
            <p>Created: {{project.created| timesince}} ago</p>
            <p>Progress: {{project.progress}}%</p>
            <p>level: {{project.priority_level}}</p>
            {% if project.due_in %}
                <p>Due in : {{project.due_in}} {% if project.due_in > 1 %}days {% else %}day{% endif %}</p>
            {%elif project.due_in == 0%}
                <p>Project deadline is today</p>
            {% else %}
                <p>You did not set a deadline</p>
            {% endif %}
            <p>Number of milestones: {{count}}</p>
            <hr>
        </div>
        <div>
            <div>
                <h3>milestones</h3>
                <h5><a href="{% url 'create-milestone' project.id %}">New milestone<br></a></h5>
                <small><a href="{% url 'add_project_attachment' project.id %}">Upload file</a></small>
            </div>
   
            {% for milestone in milestones %}
            
            {% if request.user.in_company %}<small><a href="{% url 'user-dashboard' milestone.created_by.id %}">{{milestone.created_by}}<br></a></small>{% endif %}
                <small>{{milestone.created | timesince}} ago</small> 
                <p><a href="{% url 'update-milestone' milestone.project.id milestone.id %}">Edit</a></p><small><a href="{% url 'delete-milestone' milestone.id %}">Delete</a></small>
                <p><a href="{% url 'milestone-page' milestone.id %}">{{milestone.name}}<br></a></p>
                <p>{{milestone.time_spent}}</p>
                <small>{{milestone.value}}%</small>
                <small>{{milestone.status}}</small><hr>
            {% endfor %}
        
        </div>
    </div>
    <div>
        {% if request.user.in_company %}
            <h3>Teams</h3>
            {% for team in teams  %}
                <p>{{team.name}}</p>
            {% endfor %}

            {% comment %} {% for worker in workers %}
                <small><a href="{% url 'user-dashboard' worker.user.id %}">{{worker.user.username}}</a></small><br>
                
            {% endfor %} {% endcomment %}
            <hr>
    {% endif %}

    </div>

</div>

{% endblock content %}