{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% endcomment %}
        <title>ProjectHelper | {% block title %}{% endblock title %}</title>
    </head>
    <body>

        <ul style='display: flex ; justify-content : space-between ; list-style-type: none ;padding:20px;'>

            {% if request.user.in_company %}
                {% if request.user.worker.company.id %}
                <li>
                    <p><a href="{% url 'company-page' request.user.worker.company.id %}">Home</a></p>
                </li>
                 <li>
                    <p><a href="{% url 'teams' request.user.worker.company.id %}">Teams</a></p>
                </li>
                {% endif %}
            {% endif %} 
            <li><p><a href='{% url "files" %}'>Files</a></p> </li>
            <li><p><a href='{% url "switch-account" %}'>
                {% if request.user.in_company %}
                    Switch to personal account
                {% else %}
                    Switch to company account
                {% endif %}
    
            </a></p> </li>
            <li><p><a href='{% url "logout" %}'>Logout</a></p></li>
        </ul>

        {% for message in messages %}
        <h4>{{message}}</h4>
        {% endfor %}


        {% block content %}

        {% endblock content %}

    </body>
</html>